body{
  background-image: url("../img/back1.jpg");
}
.head{
  max-height:150px;
  width:auto;
  background-color: #111;
  z-index:
  color: white;
  padding: 115px;
  text-align: center;
  top:0;
  left:0;
  right:0;
}
